.footer{
	background-color: var(--color-500);
	color: var(--text-100);
}

.footer_action{	
	background-color: var(--color-600);	
}

.footer_action__container{
	max-width: 1220px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: 500;
	font-size: 30px;
	padding: 10px 20px;
}

.footer_action__btn{
	border: 2px solid var(--color-100);
	background-color: var(--color-600);
	color: var(--color-100);
	font-weight: 500;
	font-size: 20px;
	padding: 10px 20px;
	transition: background-color .3s ease;
}

.footer_action__btn:hover{
	background-color: var(--color-700);
}

.footer__content{
	margin: 10px 0;
	display: flex;
	gap: 100px;
	font-size: 14px;
	line-height: 1.2;
}

.footer__content ul{
	flex-grow: 1;
	flex-basis: 0;
}

.contacts li{
	margin-bottom: 10px;
}

.footer__content h5{
	margin-top: 30px;
	font-size: 16px;
	font-weight: normal;
}

.contacts a{
	display: flex;
	justify-content: space-between;
	transition: all 0.3s;
}

.contacts a:hover{
	text-decoration: underline;
	color: var(--color-white);
}

.contacts span{
	border-bottom: 1px dashed ;
}

.footer-links{
	line-height: 1.6;
}

.footer-links a:hover{
	color: var(--color-white);
}