.footer{
	background-color: var(--color-500);
	color: var(--text-100);
}

.footer_action{	
	background-color: var(--color-600);	
}

.footer_action__container{
	max-width: 1220px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: 500;
	font-size: 30px;
	padding: 10px 20px;
}

.footer_action__btn{
	border: 2px solid var(--color-100);
	background-color: var(--color-600);
	color: var(--color-100);
	font-weight: 500;
	font-size: 20px;
	padding: 10px 20px;
	transition: background-color .3s ease;
}

.footer_action__btn:hover{
	background-color: var(--color-700);
}

.footer__content{
	margin: 10px 0;
	display: flex;
	gap: 100px;
	font-size: 14px;
	line-height: 1.2;
}

.footer__content ul{
	flex-grow: 1;
	flex-basis: 0;
	width: 33.33%;
}

.footer__content h5{
	margin-top: 30px;
	font-size: 16px;
	font-weight: normal;
}

.contacts li{
	margin-bottom: 10px;
}

.contacts a{
	display: flex;
	justify-content: space-between;
	transition: all 0.3s;
}

.contacts a:hover{
	text-decoration: underline;
	color: var(--color-white);
}

.contacts span{
	border-bottom: 1px dashed ;
}

.footer-links{
	line-height: 1.6;
}

.footer-links a:hover{
	color: var(--color-white);
}

/* ------ */
@media (max-width: 1100px){
	.footer__content{
		margin: 10px 10px 0;
	}

	.footer__content{
		gap: 20px;
	}
}

@media (max-width: 940px){
	.footer__content{
		flex-wrap: wrap;
		font-size: 12px;
	}
}

@media (max-width: 880px){
	.footer_action__container{
		font-size: 20px;
	}
}

@media (max-width: 820px){
	.footer__content{
		flex-wrap: wrap;
		gap: 30px;
	}

	.footer__content h5{
		margin-top: 10px;
		font-size: 16px;
		font-weight: normal;
	}

	.footer__content ul{
		flex-basis: 40%;		
	}

	.foote__content-address{
		order: 1;		
		text-align: center;
		margin-bottom: 10px;
	}
}

@media (max-width: 550px){
	.footer__content{
		flex-direction: column;
		gap: 30px;
	}

	.footer__content ul{
		border: 1px solid red;
		width: 100%;
	}
}