@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@200;400&display=swap');

:root {
  /* Colors */
	--color-white: #fff;
	--color-100: #ddf3dc; 
	--color-200: #a7d7c5; 
	--color-300: #74b49b; 
	--color-400: #5c8d89; 
	--color-430: #1f5f38; 
	--color-440: #1f295f; 
	--color-500: #18201c; 
	--color-600: #960000; 
	--color-700: #ac1515; 

	--text-100: #d0ffed;

	/* width */
	--dw: 1180px;

  /* font */
  --family: 'Geologica', sans-serif;
  --fw-normal: 200;
  --fw-bold: 400;
}

html {
	box-sizing: border-box;
}

*, *::before, *::after{
	box-sizing: inherit;
	padding: 0;
	margin: 0;
}

html, body, #root{
	height: 100%;
}

#root{
	min-height: 100%;
	display: flex;
	flex-direction: column;	
}

body {
	background-color: var(--color-white);
  font-family: var(--family);
  font-size: 18px;
  font-weight: var(--fw-normal);
	line-height: 1.3rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul{
	list-style: none;
}

a{
	text-decoration: none;
	color: inherit;
}

button{
	border: none;
	cursor: pointer;
	background-color: transparent;
	padding: 0;
}

img, svg{
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type="number"] {
  -moz-appearance: textfield;
}

.wrapper {  
	padding: 55px 10px 0px 10px;
	flex-grow: 1;
}

.container{
	max-width: var(--dw);
	margin: 0 auto;
}

/* @media (max-width: 768px) {
  .container {
    padding: 0 20px;
  }
} */
