.map-wrapper{
	display: flex;
}

.land-plot__image-wrapper{
	width: max-content;
	height: max-content;
	position: relative;
}

.land-plot__image{
	width: 100%;
}

.map-info{
	width: 420px;
	padding-left: 10px;
}

.cards-wrapper{
	max-height: 533px;
	overflow: scroll;
	overflow-x: hidden;
}

.btn-clear{
	background-color: var(--color-400);
	padding: 5px 10px;
	color: var(--color-100);
	font-size: 14px;
	margin: 0 auto;
	display: block;
	transition: background-color .3s ease;
}

.btn-clear:hover{
	background-color: var(--color-300);
}

.btn-clear:active{
	position: relative;
	top: 2px;
}

.error-container{
	background-color: var(--color-700);
	color: var(--color-100);
	text-align: center;
	font-size: larger;
	padding: 30px;
	line-height: 1.3;
}