.map-wrapper{
	display: flex;
}

.land-plot__image-wrapper{
	width: max-content;
	height: max-content;
	position: relative;
}

.land-plot__image{
	width: 100%;
}

.map-info{
	width: 420px;
	padding-left: 10px;
}

.btn-clear{
	background-color: var(--color-400);
	padding: 5px 10px;
	color: var(--color-100);
	font-size: 14px;
}